.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/**
!images/logo.png
out/test/**
vendor/jetbrains/phpstorm-stubs/**
!vendor/jetbrains/phpstorm-stubs/PhpStormStubsMap.php
vendor/sartajphp/sartajphp/**
!vendor/sartajphp/sartajphp/res/Score/SphpDoc
vendor/bin/**
vendor/**/*.jpeg
vendor/**/*.jpg
vendor/**/*.png
vendor/**/*.gif
vendor/**/*.ico
vendor/**/*.css
vendor/**/*.js

**/.DS_Store
readme.txt
